//
// add a new import to this file if you add a new partial
// be aware that ordering of these files does mater
//
// for example if you use variables in a file that is imported
// before the variables file it will throw an error


@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";
@import "partials/animation";
@import "partials/zenGarden";
@import "partials/background";

html {
	background-image: none;
	     @media screen and (min-width: $bp-desktop){
	background-image: url(images/scales.svg);
	background-repeat: repeat;
  }
}

body{
	color: $color-5;
	font-size: 1.2em;

}

a{
	color: $color-1;
	text-decoration: none;
	font-size: 1.2em;
 &:visited{
	color: $color-5;
} &:hover{
	background-color: $color-1;
	color: $color-5;
	transition: all .2s ease-in-out; 
	font-size: 1.7em;
} &:active{
	color: $color-1;
}
}