@import url("https://fonts.googleapis.com/css?family=Roboto|MedievalSharp");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "MedievalSharp", cursive; }

@-webkit-keyframes swim {
  0% {
    -webkit-transform: translate(200%, -20%) rotate(0deg); }
  5% {
    -webkit-transform: translate(100%, 12px) rotate(40deg); }
  15% {
    -webkit-transform: translate(0%, 10px) rotate(-20deg); }
  30% {
    -webkit-transform: translate(-100%, 7px) rotate(-30deg); }
  45% {
    -webkit-transform: translate(-200%, 3) rotate(-50deg); }
  50% {
    -webkit-transform: translate(-300%, 5%) rotate(-50deg) scaleX(-1); }
  65% {
    -webkit-transform: translate(-200%, 3) rotate(-50deg) scaleX(-1); }
  80% {
    -webkit-transform: translate(-100%, 7px) rotate(-30deg) scaleX(-1); }
  95% {
    -webkit-transform: translate(100%, 12px) rotate(40deg) scaleX(-1); }
  100% {
    -webkit-transform: translate(200%, -20%) rotate(0deg) scaleX(-1); } }

@keyframes swim {
  0% {
    -webkit-transform: translate(200%, -20%) rotate(0deg); }
  5% {
    -webkit-transform: translate(100%, 12px) rotate(40deg); }
  15% {
    -webkit-transform: translate(0%, 10px) rotate(-20deg); }
  30% {
    -webkit-transform: translate(-100%, 7px) rotate(-30deg); }
  45% {
    -webkit-transform: translate(-200%, 3) rotate(-50deg); }
  50% {
    -webkit-transform: translate(-300%, 5%) rotate(-50deg) scaleX(-1); }
  65% {
    -webkit-transform: translate(-200%, 3) rotate(-50deg) scaleX(-1); }
  80% {
    -webkit-transform: translate(-100%, 7px) rotate(-30deg) scaleX(-1); }
  95% {
    -webkit-transform: translate(100%, 12px) rotate(40deg) scaleX(-1); }
  100% {
    -webkit-transform: translate(200%, -20%) rotate(0deg) scaleX(-1); } }

@-webkit-keyframes smallswim {
  0% {
    -webkit-transform: translate(95%, -20%) rotate(0deg); }
  5% {
    -webkit-transform: translate(100%, 12px) rotate(40deg); }
  15% {
    -webkit-transform: translate(0%, 10px) rotate(-20deg); }
  30% {
    -webkit-transform: translate(-55%, 7px) rotate(-30deg); }
  45% {
    -webkit-transform: translate(-75%, 3) rotate(-50deg); }
  50% {
    -webkit-transform: translate(-55%, 5%) rotate(-50deg) scaleX(-1); }
  65% {
    -webkit-transform: translate(-75%, 3) rotate(-50deg) scaleX(-1); }
  80% {
    -webkit-transform: translate(-55%, 7px) rotate(-30deg) scaleX(-1); }
  95% {
    -webkit-transform: translate(0%, 12px) rotate(40deg) scaleX(-1); }
  100% {
    -webkit-transform: translate(95%, -20%) rotate(0deg) scaleX(-1); } }

@keyframes smallswim {
  0% {
    -webkit-transform: translate(95%, -20%) rotate(0deg); }
  5% {
    -webkit-transform: translate(100%, 12px) rotate(40deg); }
  15% {
    -webkit-transform: translate(0%, 10px) rotate(-20deg); }
  30% {
    -webkit-transform: translate(-55%, 7px) rotate(-30deg); }
  45% {
    -webkit-transform: translate(-75%, 3) rotate(-50deg); }
  50% {
    -webkit-transform: translate(-55%, 5%) rotate(-50deg) scaleX(-1); }
  65% {
    -webkit-transform: translate(-75%, 3) rotate(-50deg) scaleX(-1); }
  80% {
    -webkit-transform: translate(-55%, 7px) rotate(-30deg) scaleX(-1); }
  95% {
    -webkit-transform: translate(0%, 12px) rotate(40deg) scaleX(-1); }
  100% {
    -webkit-transform: translate(95%, -20%) rotate(0deg) scaleX(-1); } }

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  75% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px); } }

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  75% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px); } }

* {
  list-style-type: none;
  text-decoration: none; }

body {
  font-family: "Roboto", cursive;
  font-size: 1.1em; }

.intro {
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 109, 138, 0.6)), to(rgba(237, 235, 223, 0.6)));
  background: linear-gradient(to right, rgba(68, 109, 138, 0.6), rgba(237, 235, 223, 0.6));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  grid-column: span 2;
  padding: 1em 1em 1em 1em;
  color: black; }
  .intro:after {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    background-image: url("../../images/OrangeKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 7s infinite;
            animation: smallswim 7s infinite; }
    @media screen and (min-width: 65em) {
      .intro:after {
        -webkit-animation: bounce 3s infinite, swim 6s infinite;
                animation: bounce 3s infinite, swim 6s infinite; } }
  .intro:before {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    background-image: url("../../images/OrangeKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 2s infinite;
            animation: smallswim 2s infinite; }
    @media screen and (min-width: 65em) {
      .intro:before {
        -webkit-animation: bounce 3s infinite, swim 4s infinite;
                animation: bounce 3s infinite, swim 4s infinite; } }

#zen-intro h1 {
  color: #3a4678;
  font-size: 2.1em;
  width: 150px;
  margin-right: 215px; }
  @media screen and (min-width: 65em) {
    #zen-intro h1 {
      width: 200px; } }

#zen-intro h2 {
  color: #f86b00; }

header,
.explanation,
.benefits,
.participation,
.requirements,
.preamble,
.summary,
.intro:after {
  max-width: 700px;
  margin: 0 auto; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main {
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(237, 235, 223, 0.6)), color-stop(rgba(68, 109, 138, 0.6)), to(rgba(58, 70, 120, 0.9)));
  background: linear-gradient(to bottom left, rgba(237, 235, 223, 0.6), rgba(68, 109, 138, 0.6), rgba(58, 70, 120, 0.9));
  grid-column: span 2;
  color: black; }

.explanation {
  padding: 1em 1em 1em 1em; }
  .explanation:after {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    padding: 1em;
    background-image: url("../../images/BlueKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 5s infinite;
            animation: smallswim 5s infinite; }
    @media screen and (min-width: 65em) {
      .explanation:after {
        -webkit-animation: bounce 3s infinite, swim 8s infinite;
                animation: bounce 3s infinite, swim 8s infinite; } }

.benefits {
  padding: 1em 1em 1em 1em; }
  .benefits:after {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    background-image: url("../../images/OrangeKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 5s infinite;
            animation: smallswim 5s infinite; }
    @media screen and (min-width: 65em) {
      .benefits:after {
        -webkit-animation: bounce 3s infinite, swim 5s infinite;
                animation: bounce 3s infinite, swim 5s infinite; } }

.participation {
  padding: 1em 1em 1em 1em; }
  .participation:after {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    background-image: url("../../images/BlueKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 3s infinite;
            animation: smallswim 3s infinite; }
    @media screen and (min-width: 65em) {
      .participation:after {
        -webkit-animation: bounce 3s infinite, swim 4s infinite;
                animation: bounce 3s infinite, swim 4s infinite; } }

.requirements {
  padding: 1em 1em 1em 1em; }

p[role="contentinfo"] {
  padding: 1em 1em 1em 1em; }
  p[role="contentinfo"]:before {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    background-image: url("../../images/OrangeKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 6s infinite;
            animation: smallswim 6s infinite; }
    @media screen and (min-width: 65em) {
      p[role="contentinfo"]:before {
        -webkit-animation: bounce 3s infinite, swim 3s infinite;
                animation: bounce 3s infinite, swim 3s infinite; } }
  p[role="contentinfo"]:after {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    background-image: url("../../images/OrangeKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: smallswim 3s infinite;
            animation: smallswim 3s infinite; }
    @media screen and (min-width: 65em) {
      p[role="contentinfo"]:after {
        -webkit-animation: bounce 3s infinite, swim 2s infinite;
                animation: bounce 3s infinite, swim 2s infinite; } }

.sidebar {
  padding: 1em 1em 1em 1em;
  background-color: rgba(58, 70, 120, 0.9);
  grid-column: span 1;
  grid-row: span 2;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3; }
  .sidebar:after {
    content: '';
    display: block;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    background-image: url("../../images/BlueKoi.svg");
    background-repeat: no-repeat;
    -webkit-animation: bounce 3s infinite;
            animation: bounce 3s infinite; }
    @media screen and (min-width: 65em) {
      .sidebar:after {
        -webkit-animation: bounce 3s infinite;
                animation: bounce 3s infinite; } }

@media screen and (min-width: 65em) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 300px 2fr 300px;
    grid-auto-rows: minmax(50px, auto); } }

.sidebar {
  position: relative; }

sidebar:after {
  content: "";
  display: block;
  position: absolute; }

html {
  background-image: none; }
  @media screen and (min-width: 65em) {
    html {
      background-image: url(images/scales.svg);
      background-repeat: repeat; } }

body {
  color: #ececec;
  font-size: 1.2em; }

a {
  color: #f86b00;
  text-decoration: none;
  font-size: 1.2em; }
  a:visited {
    color: #ececec; }
  a:hover {
    background-color: #f86b00;
    color: #ececec;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 1.7em; }
  a:active {
    color: #f86b00; }

/*# sourceMappingURL=maps/style.css.map */
