// @keyframes spin{
// 	from {
//         transform: rotate(360deg);
// 	  }
// 	  to {
// 		transform: rotate(0deg);
// 	  }
// 	}


@keyframes swim2
{
  0% {margin-right: -235px; }
  25% {margin-right: -135px; transform: scaleX(-1) scaleX(1);}
	70% {margin-right: 100%;}
	100% {margin-right: 100%;}
}

@keyframes swim{
0% {-webkit-transform: translate(200%, 10%) rotate(0deg)}
20%{ -webkit-transform: translate(100%, -55%) rotate(40deg)}
40%{ -webkit-transform: translate(0%, -25%) rotate(-20deg);}
60%{ -webkit-transform: translate(-100%, -55%) rotate(-30deg)}
80% {-webkit-transform: translate(-200%, 10%) rotate(-50deg)}
100% {-webkit-transform: translate(-300%, 20%) rotate(-50deg) scaleX(-1)}
}


@keyframes bounce {
  0%, 50%, 100% {
		transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(-18px);
  }
}