


.page-wrapper{
   // background-image: url("../../images/pond.jpg");
   // background-size: cover;
    background-repeat: no-repeat;
}


.sidebar{
   position: relative;
}

sidebar:after{
    content: "";
    display: block;
    position: absolute;
}

