


.page-wrapper{
   background-image: none;
    @media screen and (min-width: $bp-desktop){
        background-image: url(../../images/scales-huge.svg);
        opacity: 30%;
        background-repeat: repeat-y;
        background-size: cover;
        background-position:left;
        height: 100%;
        width: 100%;
    }
}


.sidebar{
   position: relative;
}

sidebar:after{
    content: "";
    display: block;
    position: absolute;
}

