//
// In this file we will keep all of our color, typography, and commonly 
// used values that can be used throughout the project
//

@import url('https://fonts.googleapis.com/css?family=Karma|MedievalSharp');

$bp-tablet: 650px;
$bp-desktop: 65em;

$main-font: 'Karma', 'Times New Roman', serif;
$decor-font: 'MedievalSharp', cursive;

$color-1: #f86b00;
$color-1rgb: rgb(248,107,0); 
$color-2: #3a4678;
$color-3: #edebdf;
$color-4: #446d8a;
$color-5: #ececec;

