//
// In this file we will keep all of our color, typography, and commonly 
// used values that can be used throughout the project
//

@import url('https://fonts.googleapis.com/css?family=Karma|MedievalSharp');

$bp-tablet: 650px;
$bp-desktop: 65em;

$main-font: 'Karma', 'Times New Roman', serif;
$decor-font: 'MedievalSharp', cursive;

$color-1: #f86b00;
$color-1rgb: rgba(248,107,0, .9); 
$color-2: #3a4678;
$color-2rgb: rgba(58,70,120, .9);
$color-3: #edebdf;
$color-3rgb: rgba(237,235,223, .6);
$color-4: #446d8a;
$color-4rgb: rgba(68,109,138, .6);
$color-5: #ececec;
$color-5rgb: rgba(236,236,236, .6);

