.intro {
	background-color: $color-3rgb;
	display: flex;
	flex-flow: column nowrap;
	grid-column: span 2;
	color: $color-2;
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		background-image: url('../../images/_ionicons_svg_md-ice-cream.svg');
		background-repeat: no-repeat;

		// animation
		animation: spin 3s infinite;
	}
}

header,
.explanation,
.benefits,
.participation,
.requirements,
.preamble,
.summary,
.intro:after {
	max-width: 700px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center
}

.main {
	background-color: $color-4rgb;
	grid-column: span 2;
}

.explanation {
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/_ionicons_svg_md-ice-cream.svg');
		background-repeat: no-repeat;

		// animation
		animation: spin 3s infinite;
	}
}
.benefits {
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/_ionicons_svg_md-ice-cream.svg');
		background-repeat: no-repeat;

		// animation
		animation: spin 3s infinite;
	}
}

.participation {
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/_ionicons_svg_md-ice-cream.svg');
		background-repeat: no-repeat;

		// animation
		animation: spin 3s infinite;
	}
}

p[role="contentinfo"] {
	&:before {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/_ionicons_svg_md-ice-cream.svg');
		background-repeat: no-repeat;

		// animation
		animation: spin 3s infinite;
	}
}

.sidebar {
	background-color: $color-2rgb;
	grid-column: span 1;
	grid-row: span 2;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 3;
	&::after{
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/_ionicons_svg_md-ice-cream.svg');
		background-repeat: no-repeat;

		// animation
		animation: spin 3s infinite;
	}

}
@keyframes spin{
	from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(360deg);
	  }
	}




.page-wrapper {
	@include bp($bp-desktop) {
		display: grid;
		grid-template-columns: 300px 2fr 300px;
		grid-auto-rows: minmax(50px, auto);
	}
}

a{
	color: $color-1;
	text-decoration: none;
	font-size: 1.2em;
 &:visited{
	color: $color-4;
} &:hover{
	background-color: $color-1;
	color: $color-5;
} &:active{
	color: $color-1;
}
}

body{
	color: $color-5;
	font-size: 1.1em;
}