.intro {
	background-color: #ebebeb;
	display: flex;
	flex-flow: column nowrap;
	grid-column: span 2;
	&:after {
		content: '';
		width: 100%;
		background-color: rgba(0,255,0,.5);
		min-height: 200px;
	}
}

header,
.explanation,
.benefits,
.participation,
.requirements,
.preamble,
.summary,
.intro:after {
	max-width: 700px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center
}

.main {
	background-color: rgba(0,0,255, .5);
	grid-column: span 2;
}

.explanation {
	&:after {
		content: '';
		display: block;
		width: 100%;
		background-color: rgba(0,255,0,.5);
		min-height: 200px;
	}
}
.benefits {
	&:after {
		content: '';
		display: block;
		width: 100%;
		background-color: rgba(0,255,0,.5);
		min-height: 200px;
	}
}

.participation {
	&:after {
		content: '';
		display: block;
		width: 100%;
		background-color: rgba(0,255,0,.5);
		min-height: 200px;
	}
}

p[role="contentinfo"] {
	&:before {
		content: '';
		display: block;
		width: 100%;
		background-color: rgba(0,255,0,.5);
		min-height: 200px;
	}
}

.sidebar {
	background-color: rgba(255, 0, 0, .5);
	grid-column: span 1;
	grid-row: span 2;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 3;
}


.page-wrapper {
	@include bp($bp-desktop) {
		display: grid;
		grid-template-columns: 300px 2fr 300px;
		grid-auto-rows: minmax(50px, auto);
	}
}