* {
	list-style-type: none;
	text-decoration: none;
}

body{
	font-family: $main-font;
	font-size: 1.1em;
}



.intro {
	background: linear-gradient(to right, $color-4rgb, $color-3rgb);;
	display: flex;
	flex-flow: column nowrap;
	grid-column: span 2;
	padding: 1em 1em 1em 1em;
	color:$color-6;
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		background-image: url('../../images/OrangeKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 7s infinite; 	
		// animation
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 6s infinite;	
	}
	}
	&:before {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		background-image: url('../../images/OrangeKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 2s infinite; 	
		// animation
		
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 4s infinite;	
	}
	}
}



#zen-intro h1{
	color: $color-2;
	font-size: 2.1em;
	width: 150px;
	margin-right: 215px;
	@media screen and (min-width: $bp-desktop){
		width: 200px;
	}
}

#zen-intro h2{
	color: $color-1;
}

header,
.explanation,
.benefits,
.participation,
.requirements,
.preamble,
.summary,
.intro:after {
	max-width: 700px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center
}

.main {
	background: linear-gradient(to bottom left, $color-3rgb, $color-4rgb, $color-2rgb);
	grid-column: span 2;
	color:$color-6;
}

.explanation {
	padding: 1em 1em 1em 1em;
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;

		padding: 1em;
		background-image: url('../../images/BlueKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 5s infinite; 	
		// animation
		
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 8s infinite;	
	}
	}
}
.benefits {
	padding: 1em 1em 1em 1em;
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/OrangeKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 5s infinite; 	
		// animation
		
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 5s infinite;	
	}
	}
}

.participation {
	padding: 1em 1em 1em 1em;
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/BlueKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 3s infinite; 	
		// animation
		
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 4s infinite;	
	}
	}
}

.requirements{
	padding: 1em 1em 1em 1em;
}

p[role="contentinfo"] {
	padding: 1em 1em 1em 1em;
	&:before {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/OrangeKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 6s infinite; 	
		// animation
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 3s infinite;	
	}
	}
	&:after {
		content: '';
		display: block;
		height: 200px;
		width: 100px;
		margin: 0 auto;
		background-image: url('../../images/OrangeKoi.svg');
		background-repeat: no-repeat;
		animation: smallswim 3s infinite; 	
		// animation
		@media screen and (min-width: $bp-desktop){
			animation: bounce 3s infinite, swim 2s infinite;	
	}
	}
}

.sidebar {
	padding: 1em 1em 1em 1em;
	background-color: $color-2rgb;
	grid-column: span 1;
	grid-row: span 2;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 3;


}

.page-wrapper {
	@include bp($bp-desktop) {
		display: grid;
		grid-template-columns: 300px 2fr 300px;
		grid-auto-rows: minmax(50px, auto);
		
		
	}
}

